-- Create Database
CREATE DATABASE IF NOT EXISTS Rent_Manager;

CREATE TABLE tenants (
    id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,

    -- =====================
    -- IDENTIFIERS
    -- =====================
    tenant_code VARCHAR(40) NOT NULL,
    property_code VARCHAR(40) NOT NULL,
    apartment_code VARCHAR(40) NOT NULL,
    agent_code VARCHAR(40) NOT NULL,

    -- =====================
    -- PERSONAL INFORMATION
    -- =====================
    firstname VARCHAR(100) NOT NULL,
    lastname VARCHAR(100) NOT NULL,
    email VARCHAR(150) NOT NULL,
    phone VARCHAR(30) NOT NULL,
    address TEXT NOT NULL,
    photo VARCHAR(255) DEFAULT NULL,

    -- =====================
    -- EMPLOYMENT DETAILS
    -- =====================
    occupation VARCHAR(150) DEFAULT NULL,
    name_of_employer VARCHAR(150) DEFAULT NULL,
    employer_address TEXT DEFAULT NULL,
    employer_contact VARCHAR(150) DEFAULT NULL, -- phone or email

    -- =====================
    -- LEASE DETAILS
    -- =====================
    lease_start_date DATE NOT NULL,
    lease_end_date DATE NOT NULL,
    rent_amount DECIMAL(12,2) NOT NULL,
    security_fee DECIMAL(12,2) NOT NULL,

    payment_frequency ENUM('Monthly','Quarterly','Yearly') NOT NULL,

    -- =====================
    -- REFEREE / GUARANTOR
    -- =====================
    referee_name VARCHAR(150) NOT NULL,
    referee_phone VARCHAR(30) NOT NULL,
    
    emergency_contact_name VARCHAR(150) DEFAULT NULL,
emergency_contact_phone VARCHAR(30) DEFAULT NULL,


    -- =====================
    -- AUTH / ACCESS
    -- =====================
    password VARCHAR(255) NOT NULL, -- store HASHED password ONLY
    last_login_at TIMESTAMP NULL,
login_attempts INT NOT NULL DEFAULT 0,
locked_until TIMESTAMP NULL,



    -- =====================
    -- STATUS & AUDIT
    -- =====================
    status TINYINT(1) NOT NULL DEFAULT 1, -- 1=Active, 0=Inactive
    created_by BIGINT UNSIGNED NOT NULL,
    last_updated_by BIGINT UNSIGNED DEFAULT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    last_updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    deleted_at TIMESTAMP NULL,

    -- =====================
    -- CONSTRAINTS
    -- =====================
    UNIQUE KEY uk_tenant_code (tenant_code),
    UNIQUE KEY uk_tenant_email (email),

    INDEX idx_property_code (property_code),
    INDEX idx_apartment_code (apartment_code),
    INDEX idx_agent_code (agent_code),
    INDEX idx_status (status),

    CONSTRAINT fk_tenant_property 
        FOREIGN KEY (property_code) REFERENCES properties(property_code)
        ON DELETE RESTRICT,

    CONSTRAINT fk_tenant_apartment 
        FOREIGN KEY (apartment_code) REFERENCES apartments(apartment_code)
        ON DELETE RESTRICT,

    CONSTRAINT fk_tenant_agent 
        FOREIGN KEY (agent_code) REFERENCES agents(agent_code)
        ON DELETE RESTRICT

) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;


CREATE TABLE admin_tbl (
   id INT AUTO_INCREMENT PRIMARY KEY,
    unique_id INT(255) NOT NULL,
    firstname VARCHAR(255) NOT NULL,
    lastname VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    password VARCHAR(255) NOT NULL,
    secret_question VARCHAR(255) NOT NULL,
    secret_answer VARCHAR(255) NOT NULL,
    photo VARCHAR(255) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)

